<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>gd</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        label, input {
            display: block;
            margin: 10px 0;
        }
        #result {
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>OO</h1>
<form action="#" th:object="${calculation}" method="post">
    <label for="pcName">PC방 이름을 입력하세요:</label>
    <input type="text" id="pcName" name="pcName" required>

    <label for="ip">PC방 IP를 입력하세요:</label>
    <input type="text" id="ip" th:field="*{number1}">

    <button type="submit">Ping 보내기</button>
</form>
<div id="result"></div>
</body>
